footer {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 30px 5px 30px;
    background-color: black;
    color: #FFFFFF;
  }
  footer h5 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  footer .redes-sociales{
    border-right: 2px solid #FFFFFF ;
  }
  footer .propietarios{
    border-right: 2px solid #FFFFFF ;
  }
  footer .redes-sociales ul{
    grid-column: span 1;
    list-style:none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
  }
  
  footer .servicio-a-cliente{
    grid-column: span 1;
    padding-left: 30px;
    padding-right: 10px;
    text-align: justify;
  }
  
  footer .servicio-a-cliente .space{
    margin-left: 40px;
  }
  
  
  footer .derechos-autor{
    grid-column: 1/-1;
    justify-self: center;
    
  }
  footer .derechos-autor{
    color: #efb810;
    font-style: italic;
  }
  footer .propietarios{
    padding-left: 10%;
  }
  
  footer .redes-sociales img:hover{
    transform: scale(1.5);
  }
  
  footer .icon{
    width: 50px;
    margin: 10px;
  }
  
  @media screen and (max-width: 668px){
  
    footer .redes-sociales{
      grid-column: 1/-1;
    }
    footer .servicio-a-cliente{
      grid-column: 1/-1;
    }
    footer .propietarios{
      grid-column: 1/-1;
    }
    footer .derechos-autor{
      grid-column: 1/-1;
    }
  }