* {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
    font-size: 16px;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    box-sizing: border-box;
    transition: 0.05s;
}

.logo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo h2 {
    /*margin-left: 10px;*/
    font-size: 30px;
    color: black;
}

.logo img {
    height: 90%;
    filter: invert(31%) sepia(89%) saturate(1368%) hue-rotate(338deg) brightness(85%) contrast(86%);
}

header a {
    margin: 0 1px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

.ini {
    border-radius: 30px;
    background-color: #962d26;
    font-weight: 600;
    transition: 0.2s ease;
}

.ini:hover {
    background-color: #cb3f35;
    transition: 0.2s ease;
}

@media(max-width:626px) {
    h2 {
        display: none;
    }

    .logo img {
        height: 90%;
    }

}

@media(max-width:435px) {

    /*
    nav a {
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 80%;
        text-align: center;
    }
    */
    nav .dos {
        display: none;
    }
}

/* Footer */
.pie-pagina{
    width: 100%;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-2{
    background-color: #090909;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}